{
 ; Profile injected to Integrant.
 :backend/profile #profile {:prod :prod
                            :dev :dev
                            :test :test}

  ; Miscellaneous options.
 :backend/options {:jwt {:exp #profile {:prod 1000
                                        :dev 2000
                                        :test 5000}}}

 :backend/jetty {:port #profile {:dev #long #or [#env PORT 7171]
                                 :prod #long #or [#env PORT 7172]}
                 :join? false
                 }

 :backend/nrepl {:bind #profile {:prod "0.0.0.0"
                                 :dev "localhost"}
                 :port #profile {:dev #long #or [#env PORT 7131]
                                 :prod #long #or [#env PORT 7132]}}
 }


